factory_data/pipeline/pl_ingest_parent_seasons_races_via_api.json
{
	"name": "pl_ingest_parent_seasons_races_via_api",
	"properties": {
		"activities": [
			{
				"name": "act_cpy_seasons",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_log_insert_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_api_source",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_file_name": {
								"value": "@pipeline().parameters.pl_param_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_json",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_file_name": {
								"value": "@concat(pipeline().parameters.pl_param_file_name,'.json')",
								"type": "Expression"
							},
							"ds_param_directory_path": {
								"value": "@concat(concat(concat('bronze/',pipeline().parameters.pl_param_file_name),'/'),formatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "act_look_up_on_seasons",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_log_update_completion_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sink_json",
						"type": "DatasetReference",
						"parameters": {
							"ds_param_file_name": {
								"value": "@concat(pipeline().parameters.pl_param_file_name,'.json')",
								"type": "Expression"
							},
							"ds_param_directory_path": {
								"value": "@concat(concat(concat('bronze/',pipeline().parameters.pl_param_file_name),'/'),formatDateTime(utcnow(),'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_for_each_seasons",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_look_up_on_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_look_up_on_seasons').output.value[0].MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_cpy_race_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_log_insert_races",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_api_source",
									"type": "DatasetReference",
									"parameters": {
										"ds_param_file_name": {
											"value": "@item().season",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_json",
									"type": "DatasetReference",
									"parameters": {
										"ds_param_file_name": {
											"value": "@concat(concat('race_',item().season),'.json')",
											"type": "Expression"
										},
										"ds_param_directory_path": {
											"value": "@concat('bronze/races/',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "act_execute_child_results_pl",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "act_log_update_completion_races",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child_for_results_lap_times_pit_stops",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"season_year": {
										"value": "@item().season",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "act_log_insert_races",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "insert into public.audit_log (job_name,task_name,status,start_date,end_date) values ('@{concat('race_',item().season)}','copy_act','In Progress','@{convertFromUtc(utcnow(),'India Standard Time')}','@{convertFromUtc(utcnow(),'India Standard Time')}');\n\nselect * from public.audit_log;\n",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_postgres",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "act_log_update_completion_races",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "act_cpy_race_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "update public.audit_log\nset status='completed', \nend_date = start_date + interval '@{activity('act_cpy_race_data').output.copyDuration} seconds'\nwhere job_name = '@{concat('race_',item().season)}';\n\n\nselect * from public.audit_log;",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_postgres",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "act_log_update_failed_races",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "act_cpy_race_data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "update public.audit_log\nset status='failed',\nend_date = start_date + interval '@{activity('act_cpy_race_data').output.copyDuration} seconds'\nwhere job_name = '@{concat('race_',item().season)}';\n\n\nselect * from public.audit_log;",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_postgres",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "act_log_insert_seasons",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "insert into public.audit_log (job_name,task_name,status,start_date,end_date) values ('@{pipeline().parameters.pl_param_file_name}','copy_act','In Progress','@{convertFromUtc(utcnow(),'India Standard Time')}','@{convertFromUtc(utcnow(),'India Standard Time')}');\n\nselect * from public.audit_log;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_postgres",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_log_update_completion_seasons",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_cpy_seasons",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update public.audit_log\nset status='completed', \nend_date = start_date + interval '@{activity('act_cpy_seasons').output.copyDuration} seconds'\nwhere job_name = '@{pipeline().parameters.pl_param_file_name}';\n\n\nselect * from public.audit_log;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_postgres",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_log_update_failed_seasons",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_cpy_seasons",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "update public.audit_log\nset status='failed', \nend_date = start_date + interval '@{activity('act_cpy_seasons').output.copyDuration} seconds'\nwhere job_name = '@{pipeline().parameters.pl_param_file_name}';\n\n\nselect * from public.audit_log;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_postgres",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"pl_param_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"first_variable": {
				"type": "Array"
			},
			"temp": {
				"type": "Integer"
			},
			"start_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}